p5.dom.js
p5.js
p5.sound.js
*.png
*.pdf
*.jpg
processing.js
web-export
libraries
tools
modes
sketch.properties
.DS_Store
application.macosx

*.plist
*.graffle
*.webarchive
*.png
*.pdf
*checkpoint.ipynb
